

.player{
    padding : 10px 30px;
    
}

.player .title{
    font-size : 18px;
    color : #f1f1f1;
}

.player .title span{
    font-size : 12px;
    color : #848484;
}

.player .songsContainer{
    width : 300%;
    height : 500px;
    overflow-y: scroll;
    overflow-x: hidden;   
     
}

.songs{
    font-size : 14px;
    display : flex;
    color : gray;
    align-items: center;
    font-weight : 600;
    width : 100%;
    margin : 10px 0;
    padding : 5px;
   
}

.songs:hover,
.songs.active{
    color : #f1f1f1;
}

.count{
    margin-right : 10px;
}

.song{
    display : flex;
    align-items : center;
    width : 100%;
    border-bottom : 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
   
}

.song .imgBox{
    width : 45px;
    height : 45px;
    min-width : 45px;
    background : #555;
    margin-right : 15px;
    overflow: hidden;
}

.song .imgBox img{
    width : 100%;
    height : 100%;
    object-fit : cover;
}

.song .section{
    display : flex;
    width : 100%;
    justify-content : space-between;
    align-items : center;
}


.song .section .songName{
   display : flex;
   width : 50%;
   justify-content: space-between;
   
}

.song .section .hits{
    display : flex;
    justify-content: space-between;
    align-items : center;
}

.song .section .hits p{
    margin-right : 15px;
}

.song .section .hits .hit i{
    font-size : 12px;
    margin-right : 5px;
}

.song .section .hits .duration{
    margin-right : 15px;
}

.song .scetion .hits .favourite i{
    color : #49e12e;
}




.musicPlayer2 {
    width: 300%;
    padding: 10px;
    display: flex;
  }
  
  .musicPlayer2 .songImage {
    width: 120px;
    min-width: 120px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  
  .musicPlayer2 .songImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .musicPlayer2 .songAttributes {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .musicPlayer2 .songAttributes .top,
  .musicPlayer2 .songAttributes .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .musicPlayer2 .songAttributes .top .left,
  .musicPlayer2 .songAttributes .top .middle,
  .musicPlayer2 .songAttributes .top .right {
    color: #595959;
    font-size: 16px;
    cursor: pointer;
  }
  
  .musicPlayer2 .songAttributes .top .left,
  .musicPlayer2 .songAttributes .top .middle {
    display: flex;
    align-items: center;
  }
  
  .musicPlayer2 .songAttributes .top .left .loved {
    color: #49e12e !important;
    filter: drop-shadow(0px 0px 4px #49e12e);
  }
  
  .musicPlayer2 .songAttributes .top .left .download {
    padding-left: 20px;
  }
  
  .musicPlayer2 .songAttributes .top .middle .back i,
  .musicPlayer2 .songAttributes .top .middle .forward i {
    margin: 0px 25px;
  }

  .musicPlayer2 .songAttributes .top .middle .back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right : 10px;
  }


  .musicPlayer2 .songAttributes .top .middle .forward{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right : 10px;
  }
  
  .musicPlayer2 .songAttributes .top .middle .back i:nth-child(1),
  .musicPlayer2 .songAttributes .top .middle .forward i:nth-child(1) {
    margin-right: 0;
  }
  
  .musicPlayer2 .songAttributes .top .middle .back i:nth-child(2),
  .musicPlayer2 .songAttributes .top .middle .forward i:nth-child(2) {
    color: #9a9a9a !important;
  }
  
  .musicPlayer2 .songAttributes .top .middle .playPause {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .musicPlayer2 .songAttributes .top .middle .playPause i {
    color: #000;
  }
  
  .musicPlayer2 .songAttributes .bottom {
    margin-top: 20px;
  }
  
  .musicPlayer2 .songAttributes .bottom .progressBar {
    width: 78%;
    position: relative;
    height: 5px;
    outline: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  /* Chrome & Safari */
  
  .musicPlayer2 .songAttributes .bottom .progressBar::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #848484;
    width: var(--played-width);
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
  }
  
  .musicPlayer2 .songAttributes .bottom .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
  }
  
  /* firefox */
  .musicPlayer2 .songAttributes .bottom .progressBar::-moz-range-track {
    width: 100%;
    height: 5px;
    outline: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .musicPlayer2 .songAttributes .bottom .progressBar::-moz-range-progress {
    background: #848484;
    width: var(--played-width);
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
  }
  
  .musicPlayer2 .songAttributes .bottom .progressBar::-moz-range-thumb {
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
  }
  
  .musicPlayer2 .songAttributes .bottom .currentTime,
  .musicPlayer2 .songAttributes .bottom .duration {
    color: #f1f1f1;
    font-size: 12px;
    font-weight: bold;
  }
  
  .musicPlayer2 .songAttributes .bottom .currentTime {
    margin-right: 20px;
  }
  
  .musicPlayer2 .songAttributes .bottom .duration {
    margin-left: 20px;
  }
  
  @media screen and (max-width: 550px) {
    .musicPlayer2 .songAttributes .bottom .currentTime {
      margin-right: 0px;
    }
  
    .musicPlayer2 .songAttributes .bottom .duration {
      margin-left: 0px;
    }
  
    .musicPlayer2 .songAttributes .top .middle .back i,
    .musicPlayer2 .songAttributes .top .middle .forward i {
      margin: 0 5px;
    }
  
    .musicPlayer2 .songAttributes .bottom .progressBar {
      width: 110px;
    }
  }
  
  @media screen and (min-width: 550px) and (max-width: 1080px) {
    .musicPlayer2 .songImage {
      width: 100px;
      min-width: 100px;
      height: 100px;
    }
  }






